# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.UnityAWS-Integration.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\UnityAWS-Integration\.idea\.idea.UnityAWS-Integration.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
